<div class="span4">
<br />
<br />

<div class="hero-unit">
<h3>Enter your status</h3>
<br />

<br />
<br />

</div>
</div>

<div class="span6">
<br />
<br />

<div class="hero-unit">
<h3>Welcome to Statum</h3>
<p>User example</p>
<hr>
<strong><%= session[:user] %></strong>
<br />
<textarea cols='100' rows='5'><%= @u.inspect %></textarea>

</div>
</div>

