<form action="/user/login" method="post">
  <p>Name:</p>

  <input name="login" type="text" size="30" />
  <p>Password:</p>

  <input name="password" type="password" size="30" />
  <br>
  </br>

  <input name="submit" type="submit" value="Submit" />
</form>
