<% @teams.each do |team| %>
  <p><%= "<b>Team:</b> #{team.name}" %></p><br />

  <% team.users.each do |user| %>
    <p><%= "Name: #{user.name}" %></p>
      <% user.items.each do |item| %>
       <p><%= "Status: #{item.status}" %><br />
      <% end %><br />
  <% end %>
  <br />
<% end %>
