<div class="page-header">
  <h1>Delete Team</h1>
</div>

<form class="well" action="/team/delete" method="post">
  <label>Team to delete:<label>

  <input name="name" class="span3" type="text" size="30" />
  <br />

  <button type="submit" class="btn">Submit</button>
</form>
