<div class="page-header">
  <h1>Create User</h1>
</div>

<form class="well" action="/user/create" method="post">

  <label>Login:<label>
  <input name="login" class="span3" type="text" size="30" />

  <label>Password:</label>
  <input name="password" class="span3" type="password" size="30" />

  <label>Name:</label>
  <input name="name" class="span3" type="text" size="30" />

  <label>Email:</label>
  <input name="email" class="span3" type="text" size="30" />

  <label>Team:</label>
  <select name="team">
    <% @teams.each do |team| %>
      <option value="<%= team.name %>"><%= team.name %></option>
    <% end %>
  </select>
  <br />

  <button type="submit" class="btn">Submit</button>
</form>
